@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P";
}
body {
  color: #ffffff;
  background-color: #000000;
}
.container {
  margin: 0 auto;
  padding: 40px;
  max-width: 1000px;
}
.btn {
  padding: 15px 25px;
  font-size: 0.9rem;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

/* HEADER */
header {
  position: relative;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  border-bottom: 5px solid #ffffff;
  padding-bottom: 50px;
  justify-items: center;
  gap: 30px 0;
}
.btn-restart {
  justify-self: left;
}
.range-number {
  font-size: 1rem;
  justify-self: right;
  grid-area: 1 / 2 / 1 span / 3 span;
}
.title {
  grid-area: 2 / 1 / 2 span / 3 span;
  font-size: 1.5rem;
}
.number {
  position: absolute;
  width: 120px;
  color: #000000;
  font-size: 40px;
  text-align: center;
  padding: 30px 0;
  background-color: #ffffff;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  -o-transform: translate(-50%, 50%);
}

/* MAIN CONTENT */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 80px;
  gap: 20px;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.guess {
  max-width: 200px;
  padding: 1rem;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  text-align: center;
  font-size: 35px;
  margin-bottom: 20px;
}
.btn-check:disabled {
  cursor: not-allowed;
  color: #aaaaaa;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.game-over {
  background-color: #f54343;
}
.correct-answer {
  background-color: #37ed2d;
}

@media (max-width: 645px) {
  .container {
    padding: 30px;
  }
  .btn {
    font-size: calc(0.6rem + 0.8vw);
  }
  header {
    grid-template: auto / 1fr;
    justify-items: center;
    padding-bottom: 100px;
  }
  .btn-restart {
    justify-self: initial;
    grid-row: 3;
  }
  .range-number {
    grid-area: initial;
    justify-self: initial;
    font-size: calc(0.5rem + 1vw);
  }
  .title {
    grid-area: initial;
    font-size: calc(0.7rem + 1.5vw);
  }
  main {
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .right {
    align-items: center;
    font-size: calc(0.5rem + 1vw);
  }
  .message {
    max-width: 17ch;
  }
}
